/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Generals */

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(12, 12, 12);
    box-sizing: border-box;
}

h1 {
    color: #000;
}

h2 {
    color: #000;
    font-size: 40px;
}

h3 {
    color: #000;
}

/* Utilities */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-main {
    font-size: 40px;
    font-weight: 900;
}

.btn-blu {
    display: block;
    height: 30px;
    width: 220px;
    color: #fff;
    background-color: #0061ff;
    line-height: 30px;
    padding: 3px 5px;
    text-align: center;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;

}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 170px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.mg-top {
    margin-top: 20px;
}

.mg-top-xl {
    margin-top: 50px;
}

.mg-top-xxl {
    margin-top: 100px;
}

.mg-bottom {
    margin-bottom: 20px;
}

.mg-bottom-xl {
    margin-bottom: 70px;
}

.pd-top-xl {
    padding-top: 100px;
}

.pd-bottom-xl {
    padding-bottom: 100px;
}

.pd-right {
    padding-right: 25px;
}

/* Navbar */
.navbar {
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.navbar ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    padding: 25px;
    color: #424129;
}

.navbar .btn-small {
    display: block;
    height: 30px;
    width: 70px;
    margin: 10px;
    background-color: #0061ff;
    color: #fff;
    line-height: 30px;
    text-align: center;
    padding: 0;
}




/* header */

header {
    background-color: #b4d0e7;
    height: 820px;
}


/* Jumbotron */

.title-main {
    margin-bottom: 50px;
}

.left-header {
    width: calc(100% / 3);
    margin-bottom: 30px;
}

.right-header {
    width: calc(100% / 3 * 2);
    position: relative;
    bottom: 0;
    right: 0;
    height: 470px;
}



.right-header img {
    position: absolute;
    height: 100%;
    display: block;
}

.head-row.flex {
    justify-content: space-between;
    align-items: flex-start;
}

.left-header .description {
    margin-bottom: 30px;
}


.left-header .subscribe {
    margin-bottom: 90px;
}

.subscribe ul {
    list-style-type: none;
    margin-bottom: 30px;
}

.subscribe a {
    text-decoration: none;
}

.arrow {
    margin: 10px 0;
}

.arrow ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.arrow a {
    color: #000;
    text-decoration: none;
}

/* Main */

.busi-plan {
    margin-top: 150px;
}

.busi-plan .flex {
    justify-content: flex-start;
}

.fatt-input {
    margin-top: 50px;
}

.mensile {
    margin-right: 40px;
}

.selector {
    width: 10px;
    height: 10px;
    border: 5px solid #0061ff;
    border-radius: 50%;
    margin-right: 10px;
}

.s-grey {
    width: 15px;
    height: 15px;
    border: 2px solid #dedede;
}

.annuale {
    padding: 0 10px
}

/* First section/ Business paln */
.column-busi {
    max-width: 100%;
    margin-bottom: 100px;
}

.n-team {
    width: 100%;
    height: 30px;
    color: #000;
    border: 1px solid #dedede;
    margin-top: 50px;
    text-align: center;
    line-height: 30px;
}

.cont-col {
    width: 100%;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    height: 1120px;
}

.m-right {
    margin-right: 25px;
}

.content {
    margin: 0 15px;
}


.type-cont {
    color: #555;
}

.col-desc ul {
    list-style-type: none;

}

.text {
    width: 100%;
    align-self: baseline;
}

.icon {
    margin-right: 5px;
    width: 16px;
    height: 14px;
    align-self: baseline;
}

hr.mg-top-xl {
    width: 30%;
    color: #dedede
}

.check-blu {
    color: #0061ff;
}

.colu {
    width: calc(100% / 3);
}

.column-busi.flex {
    align-items: flex-start;
}

.type-pack {
    display: flex;
    justify-content: space-between;
}

.border {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.col-large {
    min-height: 300px;
}

.large-col {
    text-align: left;
}

.large-col .btn-blu {
    text-decoration: none;
}

.large-col .type-cont p {
    margin-right: calc(100% / 3);
}

.pic-partner img {
    height: 500px;
}

.pic-partner {
    width: calc(100% / 3 * 2)
}

.caption {
    width: calc(100% / 3);
    padding-left: 50px;
}

.caption h3 {
    font-size: 20px;
}

.btn-trans a {
    text-decoration: none;
    color: #000;
    width: 130px;
    display: block;
    border: 1px solid black;
    height: 40px;
    line-height: 40px;
    padding: 4px 5px;
}

.busi-plan {
    margin-bottom: 100px;
}

/* Seconda sezione */

.row-p {
    max-width: 100%;
}

.col-p {
    max-width: calc(100% / 3);
    padding: 15px 20px;
}

.pic img {
    max-width: 100%;
    text-align: left;
}

/* Terza sezione */
#society-intestazione a {
    color: #0061ff;
}


#society-logo {
    height: 600px;
    display: flex;
}

.column-society {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.soc-pic {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-pic img {
    line-height: 25%;
    max-width: 50%;
    display: inline-block;
    filter: invert(1);
}

.bgc-greens {
    background-color: #a2d39b;
}

.bgc-bordoux {
    background-color: #61082b;
}

.bgc-blu-sky {
    background-color: #0093ce;
}

.bgc-red-low {
    background-color: #ff1c1c;
}

.bgc-grey {
    background-color: #f5f5f5;
}

.pic-central {
    height: 80px;
}

.pic-central img {
    width: 75%;
}

.bgc-grey hr {
    color: #dedede;
    width: 25%;
}

.bgc-grey article {
    min-height: 100px;
    margin-top: 200px;
}

.container-xs {
    max-width: 100%;
    margin: 20px 30px;
}

.bgc-red {
    background-color: #d5001f;
}

.bgc-ciano {
    background-color: #b4d0e7;
}

.bgc-blu {
    background-color: #0d2481;
}

.bgc-yellow {
    background-color: #ffd830;
}

/* Quarta Sezione */

.business-society .container-small {
    display: flex;
    justify-content: space-between;
}

.col-title {
    max-width: 60%;
}

.col-button {
    max-width: 40%;
}

.col-title h2 {
    color: #61082b;
}


.business-society .btn-white a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    max-height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0 40px;
}

/* Quinta sezione */

.question {
    padding: 40px 0;
    border-bottom: 1px solid #000;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}